// colors
$grayBase     = #000
$grayDarker   = adjust($grayBase, 'lightness', 13.5%)  // #222
$grayDark     = adjust($grayBase, 'lightness', 20%)    // #333
$gray         = adjust($grayBase, 'lightness', 33.5%)  // #555
$grayLight    = adjust($grayBase, 'lightness', 46.7%)  // #777
$grayLighter  = adjust($grayBase, 'lightness', 93.5%)  // #eee

$brandPrimary = darken(#428bca, 6.5%)     // #337ab7
$brandSuccess = #5cb85c
$brandInfo    = #5bc0de
$brandWarning = #f0ad4e
$brandDanger  = #d9534f

// zindex
$zindexDropdown = 1000

// font
$fontSizeBase = 14px

// line-height
$lineHeightBase = 1.428571429

// border
$borderRadiusBase = 4px


// active item
$componentActiveColor = #fff
$componentActiveBg    = $brandPrimary

// dropdown
$dropdownBg         = #fff
$dropdownBorderColor     = rgba(0,0,0, .15)

$dropdownLinkColor        = $grayDark
$dropdownLinkHoverColor   = darken($grayDark, 5%)
$dropdownLinkHoverBg      = #f5f5f5

$dropdownLinkActiveColor  = $componentActiveColor
$dropdownLinkActiveBg     = $componentActiveBg

$dropdownDividerBg  = #e5e5e5


